#friends-display-link {
  text-align: center;
  display: block;
  background-color: #0d0922;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -15px;
}

#friends-display-link i {
  color: var(--sminfo);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
  height: 120vh;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: 1px solid var(--sminfo);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--sminfo);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--background);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}
.channels {
  display: flex;
}
.channel {
  margin: 20px 10px;
  padding: 10px;
  width: 120px;
  height: 200px;
  background-color: var(--sminfo);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.channel img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}
.channel h2 {
  font-size: 17px;
}
.channel h3 {
  font-size: 15px;
  color: rgb(167, 167, 167);
  line-height: -10px;
}
.channel div {
  width: 100px;
  height: 30px;
  background-color: #424242;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-component__friends {
  display: flex;
  flex-direction: column;
}
.user-component__friends .user-component {
  margin-bottom: 20px;
}
